@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    background-image: url(../../assets/images/man-white-hoodie.jpeg);
    height: 409px;
    width: calc(100% / 2);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    font-size: 28px;
    color: $four_color;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
}

.boxBtn {
    width: 172px;
    margin-top: 20px;
    margin: 20px auto;
    text-align: center;
}
